<!DOCTYPE html>
<html>
<head>
  <title>API Docs</title>
  <%= stylesheet_link_tag    "avocado/application", media: "all" %>
  <%= javascript_include_tag "avocado/application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var data = <%= @data.html_safe %>;
  </script>
</head>
<body ng-app="avocado" ng-controller="AvocadoCtrl">
<%= yield %>
</body>
</html>
